<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Task</title>
    <script type="application/javascript" src="lib/angular.js" ></script>

    <script>
        function taskController($scope){

            $scope.tasks = [];
            $scope.completeTasks = [];

            $scope.addTask = function() {
                if($scope.newTask != undefined && $scope.newTask != ""){
                    var currentdate = new Date();
                    var datetime = currentdate.getDate() + "/"+currentdate.getMonth()
                            + "/" + currentdate.getFullYear() + " @ "
                            + currentdate.getHours() + ":"
                            + currentdate.getMinutes() + ":" + currentdate.getSeconds();
                    $scope.tasks.push({
                        name:$scope.newTask,
                        status:'New',
                        date:datetime
                    });
                   // alert('New Task "' + $scope.newTask + '" added');
                    $scope.newTask = "";
                    var newTaskTable = document.getElementById('tableId');
                    newTaskTable.removeAttribute('hidden');
                    var newH = document.getElementById('new');
                    newH.setAttribute('hidden', 'hidden');


                }else
                    alert('Please enter task');
            }

            $scope.removeTask = function() {
                var table = document.getElementById("tableId");
                var newList = [];
                var rowIndex;
                if (!document.getElementsByTagName || !document.createTextNode) return;
                var rows = document.getElementById('tableId').getElementsByTagName('tr');
                for (i = 0; i < rows.length; i++) {
                    rows[i].onclick = function() {
                        rowIndex = this.rowIndex - 1;
                        $scope.completeTasks.push($scope.tasks[rowIndex]);
                        $scope.completeTasks[$scope.completeTasks.length - 1].status = 'Done';
                        for(var j = 0 ; j < $scope.tasks.length; j++) {
                            if(rowIndex != j)
                                newList.push($scope.tasks[j]);
                        }

                        if(confirm("Are you sure to mark this task as done")){
                            $scope.tasks = [];
                            $scope.tasks = newList;
                            $scope.$apply();
                            var doneTaskTable = document.getElementById('tableId1');
                            doneTaskTable.removeAttribute('hidden');
                            var doneH = document.getElementById('done');
                            doneH.setAttribute('hidden', 'hidden');

                        }
                        if($scope.tasks.length == 0){
                            var newTaskTable = document.getElementById('tableId');
                            newTaskTable.setAttribute('hidden', 'hidden');

                            var newH = document.getElementById('new');
                            newH.removeAttribute('hidden');


                        }
                    }
                }

            }

            $scope.removeDoneTask = function() {
                var table = document.getElementById("tableId1");
                var newList = [];
                var rowIndex;
                if (!document.getElementsByTagName || !document.createTextNode) return;
                var rows = document.getElementById('tableId1').getElementsByTagName('tr');
                for (i = 0; i < rows.length; i++) {
                    rows[i].onclick = function() {
                        rowIndex = this.rowIndex - 1;
                        for(var j = 0 ; j < $scope.completeTasks.length; j++) {
                            if(rowIndex != j)
                                newList.push($scope.completeTasks[j]);
                        }

                        if(confirm("Are you sure to delete done task")){
                            $scope.completeTasks = [];
                            $scope.completeTasks = newList;
                            $scope.$apply();
                        }
                        if($scope.completeTasks.length == 0){
                            var newTaskTable = document.getElementById('tableId1');
                            newTaskTable.setAttribute('hidden', 'hidden');

                            var newH = document.getElementById('done');
                            newH.removeAttribute('hidden');


                        }
                    }
                }

            }
        }
    </script>
    <link rel="stylesheet" href="style/bootstrap.css"/>
</head>
<body class="modal-body">
<div ng-app=''>
    <div ng-controller='taskController' align="center">
        <h2>Add New Task in Your Menu</h2>
    <input type="text" ng-model="newTask" placeholder="Enter Today Task">
    <input class="btn btn-info" type="button" value="+New" ng-click='addTask()'/>
        </br>
        </br>
        </br>
        <h3>List of new added task </h3>
        <h5 id="new" >No new task available</h5>

        <table class="table" id="tableId" hidden="hidden">
        <tr bgcolor="red">
            <th>Task Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Tool</th>
        </tr>
        <tr ng-repeat="task in tasks">
            <td>
                {{task.name}}
            </td>
            <td>
                {{task.date}}
            </td><td>
            {{task.status}}
        </td>
            <td>
                <input class="btn btn-info" type="BUTTON" VALUE="Done" ng-click='removeTask()'/>

            </td>
        </tr>
    </table>

        </br>
        </br>
        </br>
        <h3>List of completed task</h3>
        <h5 id="done" >No completed task available</h5>

        <table class="table" id="tableId1" hidden="hidden">
            <tr bgcolor="green">
                <th>Task Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Tool</th>

            </tr>
            <tr ng-repeat="cTask in completeTasks">
                <td>
                    {{cTask.name}}
                </td>
                <td>
                    {{cTask.date}}
                </td><td>
                {{cTask.status}}
            </td>
                <td>
                    <input class="btn btn-info" type="BUTTON" VALUE="Remove" ng-click='removeDoneTask()'/>

                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>